.main {
  margin: auto auto;
  width: 60%;
  height: 50vh;
  background-color: blueviolet;
  padding: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
input,
button {
  padding: 10px 50px;
  cursor: pointer;
  font-size: 30pxs;
  border: none;
  box-shadow: none;
  outline: 0;
}

button {
  background-color: red;

  color: white;
}

h3 {
  margin-top: 30px;
  color: white;
}
/* done */
