.main {
  margin: auto auto;
  width: 60%;
  height: 50vh;
  background-color: blueviolet;
  padding: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
input,
button {
  padding: 10px;
  cursor: pointer;
  width: 300px;
  font-size: 30pxs;
}
